<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
<link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<h1>Deandrew Moore</h1>
<p>Deandrew is a first-generation college student, who was born and raised in Manchester, Jamaica. He is a second year Computer Science student at The University of the West Indies, Mona campus. Deandrew is passionate about creating a better world by empowering and equipping youngsters with the technological skill sets; because sometimes all it requires is continuous exposure and a shift of perspective. Deandrew has worked with several technologies including:  Android app development, Firebase, HyperLedger BlockChain, Amazon Web Services (AWS) and currently dabbling in Flutter. Feel free to reach out on the preferred platforms provided or leave a comment in the blog post.</p>
</body>
</html>